<!DOCTYPE html>
<html>
<head>
    <title>Bacterial Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h2>Bacterial Data Visualization</h2>

        <div class="charts">
            <canvas id="typeChart"></canvas>
            <canvas id="categoryChart"></canvas>
        </div>

        <div id="dataInfo" class="data-info"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
